*.class
.metadata
helloworld/.metadata/
helloworld/target/
helloworld/*.classpath
helloworld/.settings/
helloworld/*.project
analyzer/.metadata/
analyzer/target/
analyzer/*.classpath
analyzer/.settings/
analyzer/*.project
analyzer/*.txt