*.class
.metadata
helloworld/.metadata/
helloworld/target/
helloworld/*.classpath
helloworld/.settings/
analyzer/.metadata/
analyzer/target/
analyzer/*.classpath
analyzer/.settings/
analyzer/*.txt
analyzer/*.iml
analyzer/*idea
analyzer/bin/*.iml
analyzer/bin/*idea
analyzer/bin/